.main__about {
  .container {
    .main {
      &__info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 40px;
        padding: 74px 30px 0;
      }

      &__list {

        .tittle {
          font-size: 17px;
          font-weight: 500;
          line-height: 2.941;
        }

        .text {
          color: #97a4be;
          font-size: 14px;
          line-height: 2.071;
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }

      &__send {
        margin-top: 72px;
        text-align: center;

        .tittle {
          font-size: 30px;
          font-weight: 500;
          letter-spacing: .7px;
          line-height: 1.667;
          margin: 0;
        }

        .text {
          margin: 13px 0 0 0;
          padding: 0;
          letter-spacing: .1px;
          font-size: 17px;
          line-height: 1.706;
          color: #97a4be;
        }


      }
    }
  }
}

.form {
  width: 500px;
  @media (max-width: 460px) {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  margin-top: 65px;
  margin-bottom: 94px;
  display: flex;

  input {
    flex: 1;
    width: 100%;
    height: 50px;
    margin-right: 10px;
  }

  button .btn .btn-outline-secondary {
    outline: none;
    border: none;
    background-color: $primary;
    font-size: 17px;
    line-height: 2.941;
    width: 170px;
    height: 50px;
    box-shadow: 0 8px 24px 0 rgba(0, 255, 241, 0.5);
    text-transform: uppercase;
  }

}

