@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');

$bg: #223047;
$primary: #00fff1;
$secondary: #919eb8;

.buttons {
  background-color: $primary;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}

.buttonPrim  {
  background-color: $primary
}

header {
  background: $bg;
}



body {
  font-family: 'Dosis';
}



