@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap");
.buttons {
  background-color: #00fff1;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}

body {
  font-family: "Dosis";
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    padding: 0 20px;
  }
}
header {
  background-color: #223047;
  height: 69px;
  border-bottom: 1px solid #4e596c;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #00fff1;
  padding: 0 0 13px 10px;
}
.header__logo .logo {
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.333;
  letter-spacing: 1px;
}
.header__logo .logo sup {
  font-size: 20px;
  font-weight: 500;
}
.header__nav {
  margin: 0;
  padding: 0;
  width: 200px;
  color: #fff;
  list-style: none;
  line-height: 2.071;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 610px) {
  .header__nav {
    display: none;
  }
}
.header .nav__item-arrow {
  margin-left: 11px;
}
.header__btn {
  width: 137px;
  height: 40px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__hamburger {
  margin-left: 25px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
}
.header__hamburger span {
  height: 2px;
  width: 25px;
  background-color: #fff;
}

.main__first {
  background-color: #223047;
  height: 630px;
}
.main__first .container {
  display: flex;
}
@media (max-width: 910px) {
  .main__first .container {
    justify-content: center;
    align-items: center;
  }
}
.main__first .description {
  max-width: 500px;
  padding-top: 193px;
  padding-left: 100px;
}
@media (max-width: 910px) {
  .main__first .description {
    padding: 0;
  }
}
.main__first .description__tittle {
  color: #fff;
  margin: 0 0 0 8px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.main__first .description__text {
  margin-top: 55px;
  letter-spacing: 0.3px;
  color: #97a4be;
  font-size: 14px;
  line-height: 2.08;
  max-width: 440px;
}
.main__first .buttons {
  height: 40px;
  width: 169px;
  margin-top: 41px;
  margin-left: 4px;
}
.main__first .reach_Btn {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
  margin-left: 23px;
  width: 145px;
}
.main__first .image {
  position: relative;
}
.main__first .image img {
  position: absolute;
  top: 133px;
}
@media (max-width: 1100px) {
  .main__first .image img {
    left: 0;
  }
}
@media (max-width: 910px) {
  .main__first .image img {
    display: none;
  }
}

.main__service {
  min-height: 954px;
}
.main__service .service__tittle {
  text-align: center;
  padding-top: 197px;
}
.main__service .service__tittle .line {
  margin: 79px auto 0;
  background-color: #00fff1;
  height: 4px;
  width: 115px;
}
.main__service .service__tittle .tittle {
  font-size: 30px;
  margin: 0 auto;
  font-weight: 500;
  max-width: 370px;
  letter-spacing: 0.7px;
  line-height: 1.4;
}
.main__service .service__cards {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.main__service .service__card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4.8px 0.2px rgba(30, 43, 63, 0.1);
  height: 322px;
  width: 271px;
}
.main__service .service__card img {
  margin-top: 35px;
}
.main__service .service__card .tittle {
  margin: 18px 0 0 0;
  font-size: 17px;
  line-height: 2.941;
  font-weight: 500;
}
.main__service .service__card .text {
  color: #bec5d5;
  word-wrap: break-word;
  line-height: 2.071;
  font-size: 14px;
  text-align: center;
  margin: 10px 25px 0;
}

.main__app {
  min-height: 701px;
  background-color: #f5f6fa;
  position: relative;
}
.main__app .container {
  display: flex;
}
@media (max-width: 1100px) {
  .main__app .container {
    flex-direction: column;
    align-items: center;
  }
}
.main__app .container .app__images {
  position: relative;
  margin-left: 99px;
  margin-top: 96px;
  flex: 1;
}
@media (max-width: 1100px) {
  .main__app .container .app__images {
    margin: 50px auto;
    padding: 0;
  }
}
.main__app .container .app__images img {
  box-shadow: 0 0 20px #00fff1;
}
.main__app .container .app__images .image-1 {
  position: relative;
  z-index: 2;
  height: 507px;
  border-radius: 31px;
}
.main__app .container .app__images .image-2 {
  top: 89px;
  left: 182px;
  z-index: 1;
  position: absolute;
  height: 388px;
  border-radius: 24px;
}
@media (max-width: 600px) {
  .main__app .container .app__images .image-2 {
    display: none;
  }
}
.main__app .container .app__description {
  max-width: 458px;
  margin-top: 177px;
  margin-right: 111px;
  padding-top: 33px;
}
@media (max-width: 1100px) {
  .main__app .container .app__description {
    margin: 0 auto 80px;
    padding: 0;
  }
}
.main__app .container .app__description .tittle {
  font-size: 40px;
  margin: 0 0 23px 0;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.25;
}
.main__app .container .app__description .text {
  font-size: 17px;
  line-height: 1.706;
  color: #acb6cb;
  margin-bottom: 59px;
}
@media (max-width: 510px) {
  .main__app .container .app__description .text {
    font-size: 14px;
  }
}
.main__app .container .app__buttons button {
  outline: none;
  border: none;
  width: 144px;
  height: 43px;
}
.main__app .container .app__buttons-google {
  background-image: url("../../assets/images/btnPM.png");
  margin-right: 20px;
}
.main__app .container .app__buttons-apple {
  background-image: url("../../assets/images/BtnIStore.png");
}
.main__app-btn {
  position: absolute;
  bottom: -35px;
  left: calc((100% - 371px) / 2);
  width: 371px;
  height: 71px;
  font-size: 17px;
  line-height: 2.941;
  text-transform: uppercase;
  box-shadow: 0 8px 24px 0 rgba(0, 255, 241, 0.5);
}
@media (max-width: 410px) {
  .main__app-btn {
    left: calc((100% - 90%) / 2);
    width: 90%;
  }
}

.main__about .container .main__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 40px;
  padding: 74px 30px 0;
}
.main__about .container .main__list .tittle {
  font-size: 17px;
  font-weight: 500;
  line-height: 2.941;
}
.main__about .container .main__list .text {
  color: #97a4be;
  font-size: 14px;
  line-height: 2.071;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main__about .container .main__send {
  margin-top: 72px;
  text-align: center;
}
.main__about .container .main__send .tittle {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.7px;
  line-height: 1.667;
  margin: 0;
}
.main__about .container .main__send .text {
  margin: 13px 0 0 0;
  padding: 0;
  letter-spacing: 0.1px;
  font-size: 17px;
  line-height: 1.706;
  color: #97a4be;
}
.main__about .container .main__send .form {
  margin-top: 65px;
  margin-bottom: 94px;
  display: flex;
}
@media (max-width: 460px) {
  .main__about .container .main__send .form {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.main__about .container .main__send .form input {
  flex: 1;
  width: 100%;
  height: 50px;
  margin-right: 10px;
}
.main__about .container .main__send .form button {
  outline: none;
  border: none;
  background-color: #00fff1;
  font-size: 17px;
  line-height: 2.941;
  width: 170px;
  height: 50px;
  box-shadow: 0 8px 24px 0 rgba(0, 255, 241, 0.5);
  text-transform: uppercase;
}

.footer {
  background-color: #223047;
}
.footer .container {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 585px) {
  .footer .container {
    justify-content: center;
  }
}
.footer .container .text {
  font-size: 17px;
  line-height: 2.941;
  color: #00fff1;
}
.footer .container .list {
  margin-right: 10px;
  width: 320px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
